@model E_Trade.Models.Product

@{
    ViewData["Title"] = "Details";
    var isAdmin = ViewBag.IsAdmin as bool? ?? false;
}

<div class="container">
    <h1 class="text-center">Product Details</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.ImageUrl" class="img-fluid" alt="@Model.Title">
        </div>
        <div class="col-md-6">
            <h4>@Model.Title</h4>
            <p><strong>Price:</strong> $@Model.Price.ToString("c")</p>
            <p><strong>Description:</strong> @Model.Description</p>
            <p><strong>Category:</strong> @Model.Category</p>
            <p><strong>Rating:</strong> @Model.RatingRate (from @Model.RatingCount reviews)</p>
            @if (isAdmin)
            {
                <div class="btn-group" role="group">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                </div>
            }
            else
            {
                <form asp-controller="Cart" asp-action="AddToCart" method="post">
                    <input type="hidden" name="productId" value="@Model.Id" />
                    <input type="hidden" name="quantity" value="1" />
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-success">Sepete ekle</button>
                    </div>
                </form>
            }
            <a asp-action="Index" class="btn btn-secondary">Anasayfa</a>
        </div>
    </div>
</div>
